.about {
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.about__body {
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.about--transition-in .about__body {
  animation-direction: reverse;
  animation-name: slide-right;
}

.about--transition-out {
  animation-name: slide-right;
}

.about__link {
  text-decoration: none;
  font-weight: 800;
  color: var(--white);
}

.about__paragraph {
  font-size: var(--font-size-large);
  margin: var(--spacing-base);
}
