.about {
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.about--hidden {
  display: none;
}

.about--transition-in {
  animation-direction: reverse;
  animation-name: slide-right;
}

.about--transition-out {
  animation-name: slide-right;
}

.about__link {
  text-decoration: none;
  font-weight: 900;
  color: var(--white);
}

.about__paragraph {
  margin: var(--spacing-base);
  font-size: var(--font-size-base);
}
