.about {
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-timing-function: var(--easing-standard);
}

.about__body {
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-timing-function: var(--easing-standard);
  margin-top: var(--spacing-small);
}

.about--transition-in .about__body {
  animation-direction: reverse;
  animation-name: slide-right;
}

.about--transition-out {
  animation-name: slide-right;
}

.about__link {
  text-decoration: none;
  font-weight: 800;
  color: var(--white);
}

.about__paragraph {
  font-size: var(--font-size-base);
  margin: 0.8em var(--spacing-base);
}
