.home {
  animation-duration: var(--e-time-1);
  animation-timing-function: var(--e-easing-standard);
}

.home--transition-out-left {
  animation-name: slide-left;
}

.home--transition-out-right {
  animation-name: slide-right;
}

.home--transition-out-vertical {
  animation-name: slide-up;
}

.home__custom-timer-button {
  animation-delay: var(--e-time-1);
}

.home__timers {
  column-gap: var(--e-space-3);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: var(--e-space-3);
}

.home__timer-button {
  --size: calc(var(--e-space-3) * 5);

  animation-direction: reverse;
  animation-duration: var(--e-time-1);
  animation-fill-mode: forwards;
  animation-name: slide-up;
  animation-timing-function: var(--e-easing-standard);
  border-radius: 50%;
  border: var(--e-border-width-1) solid var(--e-color-ground);
  color: var(--e-color-ground);
  font-size: var(--e-font-size-1);
  height: var(--size);
  transform: translateY(-100vh);
  transition: background-color var(--e-time-1), box-shadow var(--e-time-1),
    color var(--e-time-1);
  width: var(--size);
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 768px) {
  .home__timer-button:focus,
  .home__timer-button:hover {
    background: var(--e-color-ground);
    color: var(--blue-dark);
  }
}
.home__timer-button:nth-child(1) {
  animation-delay: calc(var(--e-time-1) / 6);
}
.home__timer-button:nth-child(2) {
  animation-delay: calc(var(--e-time-1) / 6 * 2);
}
.home__timer-button:nth-child(3) {
  animation-delay: calc(var(--e-time-1) / 6 * 3);
}
.home__timer-button:nth-child(4) {
  animation-delay: calc(var(--e-time-1) / 6 * 4);
}
.home__timer-button:nth-child(5) {
  animation-delay: calc(var(--e-time-1) / 6 * 5);
}
.home__timer-button:nth-child(6) {
  animation-delay: calc(var(--e-time-1) / 6 * 6);
}
