.home {
  animation-duration: var(--time-1);
  animation-timing-function: var(--easing-standard);
}

.home--transition-out-left {
  animation-name: slide-left;
}

.home--transition-out-right {
  animation-name: slide-right;
}

.home--transition-out-vertical {
  animation-name: slide-up;
}

.home__custom-timer-button {
  animation-delay: var(--time-1);
}

.home__timers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: var(--cmp-home__timers-max-width);
  padding: var(--space-3) var(--space-1) 0;
}

.home__timer-button {
  animation-direction: reverse;
  animation-duration: var(--time-1);
  animation-fill-mode: forwards;
  animation-name: slide-up;
  animation-timing-function: var(--easing-standard);
  border-radius: 50%;
  border: var(--border-width-1) solid var(--color-ground);
  color: var(--color-ground);
  display: block;
  flex: 0 1 var(--cmp-home__timer-button-radius);
  font-weight: var(--font-weight-bold);
  height: var(--cmp-home__timer-button-radius);
  margin: 0 var(--space-1) var(--space-3);
  outline: 0;
  transform: translateY(-100vh);
  transition: background-color var(--time-1), box-shadow var(--time-1),
    color var(--time-1);
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 768px) {
  .home__timer-button:focus,
  .home__timer-button:hover {
    background: var(--color-ground);
    color: var(--color-blue-dark);
  }
}
.home__timer-button:nth-child(1) {
  animation-delay: calc(var(--time-1) / 6);
}
.home__timer-button:nth-child(2) {
  animation-delay: calc(var(--time-1) / 6 * 2);
}
.home__timer-button:nth-child(3) {
  animation-delay: calc(var(--time-1) / 6 * 3);
}
.home__timer-button:nth-child(4) {
  animation-delay: calc(var(--time-1) / 6 * 4);
}
.home__timer-button:nth-child(5) {
  animation-delay: calc(var(--time-1) / 6 * 5);
}
.home__timer-button:nth-child(6) {
  animation-delay: calc(var(--time-1) / 6 * 6);
}
