.settings {
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-timing-function: var(--easing-standard);
}

.settings--transition-in {
  animation-direction: reverse;
  animation-name: slide-left;
}

.settings--transition-out {
  animation-name: slide-left;
}

.settings_input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% / 3);
  transform: translateY(-50%);
}
