.settings {
  animation-duration: var(--e-time-1);
  animation-fill-mode: forwards;
  animation-timing-function: var(--e-easing-standard);
}

.settings--transition-in {
  animation-direction: reverse;
  animation-name: slide-left;
}

.settings--transition-out {
  animation-name: slide-left;
}

.settings_input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% / 3);
  transform: translateY(-50%);
}

.settings_input-container p {
  margin-top: 0.5em;
}
