.control-button {
  animation-delay: var(--timing-base);
  animation-direction: reverse;
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-name: slide-down;
  animation-timing-function: ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
  height: 4rem;
  outline: 0;
  padding: 0;
  text-align: center;
  transform: translateY(100vh);
  transition: stroke var(--timing-base);
  -webkit-tap-highlight-color: transparent;
  width: 4rem;
}
.control-button:nth-child(1) { animation-delay: var(--timing-fast) }
.control-button:nth-child(2) { animation-delay: calc(var(--timing-fast) * 2) }
.control-button > * {
  display: block;
  stroke-width: calc(var(--border-width) / 2);
}

.control-button--pause {
  stroke: var(--orange);
}
@media (min-width: 768px) {
  .control-button--pause:focus,
  .control-button--pause:hover {
    stroke: var(--orange-light);
  }
}

.control-button--play {
  stroke: var(--green);
}
@media (min-width: 768px) {
  .control-button--play:focus,
  .control-button--play:hover {
    stroke: var(--green-light);
  }
}

.control-button--stop {
  stroke: var(--red);
}
@media (min-width: 768px) {
  .control-button--stop:focus,
  .control-button--stop:hover {
    stroke: var(--red-light);
  }
}
.control-button__pause {
  display: none;
}
.control-button__play {
  display: block;
}
.control-button--pause .control-button__play {
  display: none;
}
.control-button--pause .control-button__pause {
  display: block;
}
.control-button:disabled {
  stroke: var(--gray);
}
