.dim-button {
  animation-delay: calc(var(--timing-fast) * 2);
  animation-direction: reverse;
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-name: slide-down;
  animation-timing-function: ease-in-out;
  background: none;
  border-radius: 50%;
  border: var(--border-width) solid var(--white);
  box-shadow: 0 0 var(--spacing-small) var(--white);
  cursor: pointer;
  height: 4rem;
  outline: 0;
  padding: 0;
  stroke: var(--white);
  text-align: center;
  transform: translateY(100vh);
  transition: stroke var(--timing-base);
  -webkit-tap-highlight-color: transparent;
  width: 4rem;
}
