.timer-button {
  --size: 5rem;

  animation-direction: reverse;
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-name: slide-up;
  animation-timing-function: ease-in-out;
  background: none;
  border-radius: 50%;
  border: var(--border-width) solid var(--white);
  color: var(--white);
  cursor: pointer;
  display: block;
  flex: 0 1 var(--size);
  font-size: 1rem;
  font-weight: bold;
  height: var(--size);
  margin: 0 calc(var(--spacing-small) / 2) var(--spacing-base);
  outline: 0;
  box-shadow: 0 0 var(--spacing-small) var(--white);
  transition: background-color var(--timing-base),
    box-shadow var(--timing-base),
    color var(--timing-base);
  transform: translateY(-100vh);
}
.timer-button:focus,
.timer-button:hover {
  box-shadow: none;
  background: var(--white);
  color: var(--blue-dark);
}

.timer-button:nth-child(1) { animation-delay: var(--timing-fast) }
.timer-button:nth-child(2) { animation-delay: calc(var(--timing-fast) * 2) }
.timer-button:nth-child(3) { animation-delay: calc(var(--timing-fast) * 3) }
.timer-button:nth-child(4) { animation-delay: calc(var(--timing-fast) * 4) }
.timer-button:nth-child(5) { animation-delay: calc(var(--timing-fast) * 5) }
.timer-button:nth-child(6) { animation-delay: calc(var(--timing-fast) * 6) }
