.timer-button {
  --size: 5rem;

  background: none;
  border-radius: 50%;
  border: var(--border-width) solid var(--white);
  color: var(--white);
  cursor: pointer;
  display: block;
  flex: 0 1 var(--size);
  font-size: 1rem;
  font-weight: bold;
  height: var(--size);
  margin: 0 calc(var(--spacing-small) / 2) var(--spacing-base);
  outline: 0;
  box-shadow: 0 0 var(--spacing-small) var(--white);
  transition: background-color var(--timing-base),
    box-shadow var(--timing-base),
    color var(--timing-base);
}
.timer-button:focus,
.timer-button:hover {
  box-shadow: none;
  background: var(--white);
  color: var(--blue-dark);
}
