.timer-button {
  --size: 5rem;

  animation-direction: reverse;
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-name: slide-down;
  animation-timing-function: ease-in-out;
  background: none;
  border-radius: 50%;
  border: var(--border-width) solid var(--white);
  box-shadow: 0 0 var(--spacing-small) var(--white);
  color: var(--white);
  cursor: pointer;
  display: block;
  flex: 0 1 var(--size);
  font-size: 1rem;
  font-weight: bold;
  height: var(--size);
  margin: 0 calc(var(--spacing-small) / 2) var(--spacing-base);
  outline: 0;
  transform: translateY(-100vh);
  transition: background-color var(--timing-base),
    box-shadow var(--timing-base),
    color var(--timing-base);
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 768px) {
  .timer-button:focus,
  .timer-button:hover {
    box-shadow: none;
    background: var(--white);
    color: var(--blue-dark);
  }
}

.timer-button:nth-child(1) { animation-delay: var(--timing-faster) }
.timer-button:nth-child(2) { animation-delay: calc(var(--timing-faster) * 2) }
.timer-button:nth-child(3) { animation-delay: calc(var(--timing-faster) * 3) }
.timer-button:nth-child(4) { animation-delay: calc(var(--timing-faster) * 4) }
.timer-button:nth-child(5) { animation-delay: calc(var(--timing-faster) * 5) }
.timer-button:nth-child(6) { animation-delay: calc(var(--timing-faster) * 6) }
