:root {
  --blue: #111e7a; /* background_color (manifest) */
  --blue-dark: #0d0d2b; /* theme-color (manifest, meta tag & logo.svg)*/
  --blue-light: #3ecbff; /* (logo.svg) */
  --gray: #6e6e6e;
  --green: #06bb2d;
  --green-light: #5dff80;
  --orange: #d19000;
  --orange-light: #ffcc5b;
  --pink: #ff25d0;
  --red: #bb0606;
  --red-light: #ff5d5d;
  --white: #fafeff;

  --shadow-dark: rgba(0, 0, 0, 0.75);

  --border-width: 0.175rem;

  --font-size-x-large: 6rem;

  --spacing-small: 0.75rem;
  --spacing-base: 1.2rem;

  --timing-fast: 50ms;
  --timing-base: 250ms;
  --timing-slow: 1s;
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}
@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}
@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

html {
  height: 100%;
}

body {
  color: var(--white);
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  user-select: none;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: var(--spacing-small) 0;
}
.controls > :not(:last-child) {
  margin-right: var(--spacing-base);
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  position: relative;
}

.display {
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  left: 0;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.display--hidden {
  display: none;
}
.display--transition-in {
  animation-direction: reverse;
  animation-name: slide-right;
}
.display--transition-out {
  animation-name: slide-right;
}

.timers {
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  left: 0;
  margin: 0 auto;
  max-width: 19rem;
  padding: var(--spacing-base) 0;
  position: absolute;
  right: 0;
  top: 0;
}
.timers--hidden {
  display: none;
}
.timers--transition-in {
  animation-direction: reverse;
  animation-name: slide-left;
}
.timers--transition-out {
  animation-name: slide-left;
}
