:root {
  --blue: #111e7a; /* (logo.svg) */
  --blue-dark: #0d0d2b; /* background_color theme_color & (manifest, meta tag & logo.svg)*/
  --blue-light: #3ecbff;
  --gray: #6e6e6e;
  --green: #53c080;
  --pink: #ff25d0; /* (logo.svg) */
  --purple: #4f21bb;
  --yellow: #fff242;
  --red: #ff442b;
  --white: #fafeff; /* (logo.svg) */

  --gradient-angle: 145deg;

  --shadow-dark: rgba(0, 0, 0, 0.75);

  --border-width: 0.175rem;
  --border-width-thick: 3px;

  --font-size-base: calc(.6rem + .5vh + .5vw);
  --font-size-large: calc(var(--font-size-base) * 1.33 - .25vh - .25vw);
  --font-size-larger: calc(var(--font-size-base) * 2 - .25rem + .2vh + .2vh);
  --font-size-x-large: calc(var(--font-size-base) * 6);

  --spacing-base: calc(.5rem + 1vh + 1vw);
  --spacing-small: calc(var(--spacing-base) / 16 * 9 - .25rem + .1vh + .1vw);

  --timing-faster: .05s;
  --timing-fast: .15s;
  --timing-base: .3s;
  --timing-slow: 1s;

  --cmp-custom-timer__number-button-font-size: var(--font-size-larger);
  --cmp-icon-button-radius: calc(3.5rem + 1vh + 1vw);

  --cmp-home__timers-max-width: calc(var(--cmp-icon-button-radius) * 5 + 1rem);
  --cmp-home__timer-button-radius: calc(var(--cmp-icon-button-radius) * 1.33);
}

@media (max-height: 26rem) {
  :root {
    --font-size-base: calc(.25rem + .33vh + .33vw);

    --spacing-small: 0.5rem;
    --spacing-base: 0.75rem;

    --cmp-custom-timer__number-button-font-size: 1rem;
    --cmp-icon-button-radius: 3.33rem;
  }
}
