:root {
  --blue: hsl(233, 76%, 27%); /* (logo.svg) */
  --blue-dark: hsl(
    240,
    54%,
    11%
  ); /* background_color theme_color & (manifest, meta tag & logo.svg)*/
  --blue-light: hsl(195, 100%, 55%);
  --green: hsl(145, 65%, 50%);
  --pink: hsl(315, 100%, 55%); /* (logo.svg) */
  --purple: hsl(258, 70%, 45%);
  --yellow: hsl(56, 100%, 63%);
  --red: hsl(0, 100%, 55%);
  /* (logo.svg) also contains --e-color-ground */

  --gradient-angle: 205deg;

  --timing-delay: calc(var(--e-time-0) / 3);
}
