:root {
  --blue: hsl(233, 76%, 27%); /* (logo.svg) */
  --e-color-theme-more: hsl(
    240,
    54%,
    11%
  ); /* background_color theme_color & (manifest, meta tag & logo.svg)*/
  --blue-light: hsl(195, 100%, 55%);
  --green: hsl(145, 65%, 50%);
  --pink: hsl(315, 100%, 55%); /* (logo.svg) */
  --purple: hsl(258, 70%, 45%);
  --yellow: hsl(56, 100%, 63%);
  --red: hsl(0, 100%, 55%);

  --gradient-angle: 205deg;

  --cmp-icon-button-radius: 3.75em;

  --cmp-home__timer-button-radius: calc(var(--cmp-icon-button-radius) * 1.33);
  --cmp-home__timers-max-width: calc(
    var(--cmp-home__timer-button-radius) * 3 + var(--e-space-1) * 11
  );
}

@media (max-height: 26rem) {
  :root {
    --cmp-icon-button-radius: 3em;
  }
}
