.controls {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: var(--e-space-3);
}

.controls > :not(:last-child) {
  margin-right: var(--e-space-3);
}

.controls > :first-child:nth-last-child(1) {
  margin: 0 auto;
}
