.dimmer-overlay {
  background: #000;
  opacity: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--timing-base) var(--easing-standard);
}

.dimmer-overlay--on {
  opacity: 1;
  pointer-events: auto;
}
