.gradient__layer {
  animation-duration: var(--timing-slow);
  animation-name: fade-in;
  animation-timing-function: ease-in-out;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.gradient__layer--no-animate {
  animation: 0;
}

.gradient__layer--0 {
  background-image: linear-gradient(
    var(--gradient-angle),
    var(--blue-light),
    var(--pink)
  );
}

.gradient__layer--1 {
  background-image: linear-gradient(
    var(--gradient-angle),
    var(--blue),
    var(--blue-dark)
  );
}

.gradient__layer--2 {
  background-image: linear-gradient(
    var(--gradient-angle),
    var(--purple),
    var(--red)
  );
}

.gradient__layer--3 {
  background-image: linear-gradient(
    var(--gradient-angle),
    var(--green),
    var(--purple)
  );
}

.gradient__layer--4 {
  background-image: linear-gradient(
    var(--gradient-angle),
    var(--pink),
    var(--yellow)
  );
}
