.header {
  --box-shadow-color: hsla(var(--theme-hue), var(--gray-saturation), 10%, 0.18);

  background: var(--color-blue-dark);
  box-shadow: 0 0 3px var(--box-shadow-color), 0 2px 4px var(--box-shadow-color),
    0 4px 5px var(--box-shadow-color), 0 6px 6px var(--box-shadow-color);
  position: relative;
  padding: var(--space-2) calc((100% - var(--max-width)) / 2 - var(--space-2));
}

.header h1 {
  font-size: var(--font-size-2);
  margin: 0;
}

.header > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--space-2);
}

.header__button {
  -webkit-tap-highlight-color: transparent;
  margin: 0 1rem;
  outline: 0;
  stroke: var(--color-ground);
  transition-duration: var(--time-0);
  transition-property: opacity, transform;
  transition-timing-function: var(--easing-standard);
}
@media (min-width: 768px) {
  .header__button:focus,
  .header__button:hover {
    transform: rotate(45deg) scale(1.1);
  }
}

.header__button--delay {
  transition-delay: var(--time-0);
}

.header__button:disabled {
  opacity: 0.67;
  transform: rotate(180deg) scale(0);
}

.header__button:last-child:disabled {
  transform: rotate(-180deg) scale(0);
}

.header__button svg {
  --size: calc(4em / 3);

  height: var(--size);
  width: var(--size);
}
