.header {
  align-items: center;
  background: var(--blue-dark);
  box-shadow: 0 0 var(--spacing-base) var(--shadow-dark);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-base) 0;
  text-align: center;
}

.header__heading {
  font-size: var(--font-size-larger);
  margin: 0;
}

.header__button {
  -webkit-tap-highlight-color: transparent;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 1rem;
  outline: 0;
  padding: 0 1rem;
  stroke: var(--white);
  transition-duration: var(--timing-fast);
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
}

.header__button--delay {
  transition-delay: var(--timing-faster);
}

.header__button:disabled {
  opacity: .67;
  transform: rotate(180deg) scale(0);
}

.header__button:last-child:disabled {
  transform: rotate(-180deg) scale(0);
}
