header {
  background: var(--blue-dark);
}

.header__button {
  -webkit-tap-highlight-color: transparent;
  line-height: 0;
  padding: 0 var(--e-space-1);
  stroke: var(--e-color-ground);
  transition-duration: var(--e-time-0);
  transition-property: opacity, transform;
  transition-timing-function: var(--e-easing-standard);
}
@media (min-width: 768px) {
  .header__button:focus,
  .header__button:hover {
    transform: rotate(45deg) scale(1.1);
  }
}

.header__button--delay {
  transition-delay: var(--timing-delay);
}

.header__button:disabled {
  opacity: 0.67;
  transform: rotate(180deg) scale(0);
}

.header__button:last-child:disabled {
  transform: rotate(-180deg) scale(0);
}
