.icon-button {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  background: none;
  border-radius: 50%;
  border: var(--border-width) solid var(--white);
  box-shadow: 0 0 var(--spacing-small) var(--white);
  cursor: pointer;
  display: flex;
  height: var(--cmp-icon-button-radius);
  justify-content: center;
  outline: 0;
  padding: 0;
  stroke: var(--white);
  transition-duration: var(--timing-fast);
  transition-property: background-color, box-shadow, stroke, transform;
  transition-timing-function: ease-in-out;
  width: var(--cmp-icon-button-radius);
}
@media (min-width: 768px) {
  .icon-button:focus,
  .icon-button:hover {
    box-shadow: none;
    background-color: var(--white);
    stroke: var(--blue-dark);
  }
}

.icon-button svg {
  --radius: calc(var(--cmp-icon-button-radius) / 8 * 3);

  fill: none;
  height: var(--radius);
  pointer-events: none; /* Fixes bug with silent button */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--border-width-thick);
  width: var(--radius)  ;
}

.icon-button--slide-in {
  animation-direction: reverse;
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-name: slide-down;
  animation-timing-function: ease-in-out;
  transform: translateY(100vh);
}
