.play-pause-button {
  animation-delay: var(--timing-faster);
  animation-direction: reverse;
  animation-duration: var(--timing-base);
  animation-fill-mode: forwards;
  animation-name: slide-down;
  animation-timing-function: ease-in-out;
  transform: translateY(100vh);
}

.play-pause-button__pause .play-pause-button__play {
  display: block;
  stroke-width: calc(var(--border-width) / 2);
}

.play-pause-button--paused .play-pause-button__play { display: none; }
.play-pause-button--paused .play-pause-button__pause { display: block; }
.play-pause-button--playing .play-pause-button__pause { display: none; }
.play-pause-button--playing  .play-pause-button__play { display: block; }

.play-pause-button:disabled {
  border-color: var(--gray);
  box-shadow: none;
  stroke: var(--gray);
}
