.play-pause-button {
  animation-delay: var(--time-0);
}

.play-pause-button__pause .play-pause-button__play {
  display: block;
  stroke-width: var(--border-width-0);
}

.play-pause-button--paused .play-pause-button__play,
.play-pause-button--playing .play-pause-button__pause {
  display: none;
}
.play-pause-button--paused .play-pause-button__pause,
.play-pause-button--playing .play-pause-button__play {
  display: block;
}

.play-pause-button:disabled {
  border-color: var(--color-balance);
  box-shadow: none;
  stroke: var(--color-balance);
}
