.progress {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  width: 100%;
}

.progress__meter {
  height: 100%;
  position: absolute;
  top: 0;
  transform: rotate(270deg);
}

.progress__circle {
  fill: transparent;
  stroke: var(--color-ground);
  stroke-width: 0.1;
}
.progress__circle--transitioning {
  transition: stroke-dashoffset 1s linear;
}

.progress__circle-background {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.15);
  stroke-width: 0.1;
}

.progress__time {
  font-feature-settings: "tnum";
  font-size: 6rem;
  font-variant-numeric: tabular-nums;
}
